$font-size: 62,5%; //1rem = 10px; 10px/16px = 62,5%

$container: 144rem;

// Colors

$color-white: #FFF;
$color-black: #000;
$color-text: #0d0d0d;

$color-primary: hsla(160, 100%, 37%, 1);
$color-secondary: #474c4f;
$color-tertiary: #a7d0bb;

$color-progress: #369ddc;
$color-done: #34c13b;
$color-remove: #d73939;