*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  scroll-behavior: smooth;
}

body {
  color: $color-text;
  background: $color-tertiary;
}

.container {
  max-width: $container;
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
}

.main {
  position: relative;
}