.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;

  &--primary {
    background-color: $color-primary;
    padding: 0 2rem;
  }

  &__controls {
    color: $color-white;
    padding: 0.2rem 0.4rem;
  }

  &--progress {
    background-color: $color-progress;
  }

  &--done {
    background-color: $color-done;
  }

  &--remove {
    background-color: $color-remove;
  }
}