.header {
  background: $color-primary;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 2.4rem;
    color: $color-secondary;
    padding: 2rem 0;
    margin-right: auto;
  }
}